$actions-width: 20em;

.basic-layout {
  display: grid;
  grid-template-columns: auto $actions-width;
  grid-column-gap: 2em;

  .content {
    grid-column: 1;
  }

  .actions {
    grid-column: 2;
    padding: 1em;
    @include aside;
  }
}