.blog {
    .no-post-message {
        margin-left: 2em;
        margin-top: 2em;
    }

    .btn {
        margin-left: 1em;
        color: #7a7a7a;
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        font-size: 20px;
        position: relative;
        float: left;
        text-decoration: none;
        /*border-top: 2px solid $grey-light;
        border-left: 2px solid $white-dark;
        border-bottom: 2px solid $grey;
        border-right: 2px solid $grey;*/
        border: 2px outset $grey-light;
        border-radius: 5px 15px 5px 15px / 10px 20px 0px 15px;
        text-align: center;
    }
    .btn:active {
      transform: translate(0px,5px);
      -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
    }
    .btn:hover {
        border: 2px inset $grey-light;
    }
}

@import "post"
