.blog {

    .post-title {
        word-break: break-word;
    }

    .no-post-message {
        margin-left: 2em;
        margin-top: 2em;
    }

    .markdown-editor {
        width: calc(66vw - 2em);
        overflow: auto;
        word-wrap: break-word;

        .CodeMirror-line {
            padding-bottom: 1rem;
        }

    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $white-dark;
    }

    ::-webkit-scrollbar {
      width: 7px;
      background-color: $white-dark;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: $grey;
    }

    /*.btn {
        margin-left: 1em;
        color: #7a7a7a;
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        font-size: 20px;
        position: relative;
        float: left;
        text-decoration: none;
        /*border-top: 2px solid $grey-light;
        border-left: 2px solid $white-dark;
        border-bottom: 2px solid $grey;
        border-right: 2px solid $grey;
        border: 2px outset $grey-light;
        border-radius: 5px 15px 5px 15px / 10px 20px 0px 15px;
        text-align: center;
    }
    .btn:active {
      transform: translate(0px,5px);
      -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
    }
    .btn:hover {
        border: 2px inset $grey-light;
    }*/

    .btn-green {
      background: none;
      border: 0;
      box-sizing: border-box;

      // Using inset box-shadow instead of border for sizing simplicity
      box-shadow: inset 0 0 0 2px lightgreen;
      font-size: 20px;
      font-weight: bold;
      color: #7a7a7a;

      // Required, since we're setting absolute on pseudo-elements
      position: relative;
      vertical-align: middle;

      &::before,
      &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      transition: color 0.25s;

      &::before,
      &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border: 2px solid transparent;
        width: 0;
        height: 0;
      }

      // This covers the top & right borders (expands right, then down)
      &::before {
        top: 0;
        left: 0;
      }

      // And this the bottom & left borders (expands left, then up)
      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover {
        color: $green;
        background-color: $white;
      }

      // Hover styles
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }

      &:hover::before {
        border-top-color: $green; // Make borders visible
        border-right-color: $green;
        transition:
          width 0.25s ease-out, // Width expands first
          height 0.25s ease-out 0.25s; // And then height
      }

      &:hover::after {
        border-bottom-color: $green; // Make borders visible
        border-left-color: $green;
        transition:
          border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
          width 0.25s ease-out 0.5s, // And then exanding width
          height 0.25s ease-out 0.75s; // And finally height
      }
    }

    .btn-red {
      background: none;
      border: 0;
      box-sizing: border-box;

      // Using inset box-shadow instead of border for sizing simplicity
      box-shadow: inset 0 0 0 2px indianred;
      font-size: 20px;
      font-weight: bold;
      color: #7a7a7a;

      // Required, since we're setting absolute on pseudo-elements
      position: relative;
      vertical-align: middle;

      &::before,
      &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      transition: color 0.25s;

      &::before,
      &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border: 2px solid transparent;
        width: 0;
        height: 0;
      }

      // This covers the top & right borders (expands right, then down)
      &::before {
        top: 0;
        left: 0;
      }

      // And this the bottom & left borders (expands left, then up)
      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover {
        color: $red-bright;
        background-color: $white;
      }

      // Hover styles
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }

      &:hover::before {
        border-top-color: $red-bright; // Make borders visible
        border-right-color: $red-bright;
        transition:
          width 0.25s ease-out, // Width expands first
          height 0.25s ease-out 0.25s; // And then height
      }

      &:hover::after {
        border-bottom-color: $red-bright; // Make borders visible
        border-left-color: $red-bright;
        transition:
          border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
          width 0.25s ease-out 0.5s, // And then exanding width
          height 0.25s ease-out 0.75s; // And finally height
      }
    }
}

@import "post"
