.post {
    article {
        .return {
            display: inline-block;
            height: 40px;
            margin-right: 5px
        }

        i {
            font-size: 30px;
            text-align: center;
            display: relative;
            bottom: 5px;
        }

        .info {
            display: block;
            text-align: right;
        }

        .post-content {
            margin-top: 5em;
            margin-left: 10em;
            text-align: justify;
        }
    }

.content {
    padding: 15px;
}

h2 {
    display: inline-block;
    height: 40px;
    margin-bottom: 0 !important;
}

    .actions {
        grid-column: 2;
        @include aside;
    }
}
