@import "missions";

.dashboard {
  padding-right: 3em;

  .logs {
    overflow-x: scroll;
    section { margin-top: 1.2em; }

    .log {
      .date {
        color: $grey-light;
      }
    }

    .bottom {
      border-top: 1px solid $grey-lighter;
      position: relative;
      bottom: 0;
      width: $actions-width;
      display: grid;
      grid-template-columns: 4em auto;
      grid-column-gap: 1em;
      align-items: center;
      height: auto;
      cursor: pointer;

      p {
        font-weight: $weight-bold;
        font-size: 1.5em;

        a {
          text-align: center;
          display: block;
          font-size: 1.5em;
          background-color: $green;
          color: $white-ter;
          width: 100%;
        }
      }

      &:hover {
        background-color: $grey-lighter;
        a { background-color: darken($green, 5%) }
      }
    }
  }
}
