.mission-slider {

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .no-mission-message {
      margin-top: 2em;
    }

    .mission {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;

        .mission-left, .mission-right {
            display: grid;
            grid-row-gap: 4vh;
        }

    .team, .budget, .tasks, .description{
        box-shadow: 2px 2px 10px 1px #999999;
        border-radius: 5px;
        padding: 10px 0;
        h1, h2 {
            text-align: center;
            border-bottom: 2px solid #aaaaaa;
        }
        ul {
            margin: 0 20px;
            font-size: 20px;
            li:before {
                content: "-"
            }
            li {
                font-size: 16px;
            }
        }
        .content {padding: 1em;}
    }
        .team .content {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .leader {
          grid-column: 1 / 2;
        }

        .members {
            grid-column: 2 / 2;
        }

        *{
            width: auto;
        }
    }

      :last-child {
          margin-bottom: 0;
      }
}
