.mission-slider {
  margin-left: 2em;

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .no-mission-message {
    margin-top: 2em;
  }

  .mission {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    flex-shrink: 0;

    * {
      width: 30vw;
    }

    .description {
      text-align: justify;
      border: 1px solid $white-darker;
    }

    .mission-more {
      .team, .budget, .tasks {
        border: solid 1px $grey-lighter;
        background-color: $white-bis;
        display: block;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;

        

        h2 {
          padding: 0.5em 0;
          text-align: center;
          border-bottom: 1px solid $grey-lighter;
        }

        .content {
          padding: 1em;
        }
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}