.mission-slider {

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .no-mission-message {
      margin-top: 2em;
    }

    .mission {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;

        .mission-left, .mission-right {
            display: grid;
            grid-row-gap: 4vh;
        }

    .team, .budget, .tasks, .description{
        box-shadow: 2px 2px 10px 1px #999999;
        border-radius: 5px;
        padding: 10px 0;
        h1, h2 {
            text-align: center;
            border-bottom: 2px solid #aaaaaa;
        }
        ul {
            margin: 0 20px;
            font-size: 20px;
            li {
                font-size: 16px;
            }
        }
        .content {padding: 1em;}
    }
    .team .content {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .leader {
      grid-column: 1 / 2;
    }

    .members {
        grid-column: 2 / 2;
    }

    *{
        width: auto;
    }

      .tasks .content ul{
          display: grid;
          grid-template-rows: repeat(auto, 33px);
          grid-row-gap: 10px;
          li {
              border-bottom: 2px dashed $grey-lighter;
          }
      }

      .checkbox-container {
          display: grid;
          grid-template-columns: 1fr 1fr 0.15fr;
        	input[type="checkbox"] {
        		display: none;
    	}

    	label {
    		  cursor: pointer;
          grid-column: 1;
          font-size: 16px;
    	}
      .checkbox {
          grid-column: 2;
          margin: auto 0 auto auto;
          transform: scale(1.2);
      }
      i {
          grid-column: 3;
          margin: auto 0 auto auto;
          transform: scale(1.2);
          cursor: pointer;
      }
    }

    .checkbox-container .checkbox {
      	display: inline-block;
      	width: 15px;
      	height: 15px;
      	background: #d0d0d0;

      	&:after {
        		content: "";
        		position: absolute;
        		width: 0px;
        		height: 3px;
        		background: #3498db;

        		transform:translate(4px, 11px) rotate(-45deg);
        		transform-origin: left;
        		transition: all 150ms;
        		transition-delay: 0ms;
      	}

      	&:before {
        		content: "";
        		position: absolute;
        		width: 0px;
        		height: 3px;
        		background: #3498db;

        		transform:translate(1px, 6px) rotate(45deg);
        		transform-origin: left;
        		transition: all 150ms;
        		transition-delay: 150ms;
    	}
    }

    .checkbox-container input[type="checkbox"]:checked {
      	& ~ .checkbox {
      		  &:before {
          			width: 7px;
          			transition-delay: 0ms;
    		}

    		&:after {
      			width: 13px;
      			transition-delay: 150ms;
    		}
    	}
    }
  }
}
