html {
  background-color: $body-background;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: $render-mode;
}

article, aside, figure, footer, header, hgroup, section {
  display: block;
}

body, button, input, select, textarea {
  font-family: $family-primary;
}

html, body { height: 100% }

code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  font-family: $family-code;
}

body {
  color: $text;
  font-size: 1rem;
  font-weight: $weight-normal;
  line-height: 1.5;
  background-color: $white-ter;
}

// Inline
a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: none $speed $easing;

  &:hover {
    color: $link-hover;
  }

  &.disabled {
    color: $grey;
    cursor: default;

    &.hover {
      color: $grey;
    }
  }
}

hr {
  background-color: $border;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  max-width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.8em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $text-strong;
  font-weight: $weight-bold;
}

// Block
table {
  width: 100%;

  td, th {
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $text-strong;
  }
}

// SweetAlert fixes
.swal2-modal .swal2-styled {
  padding: 0 32px;
}

.swal2-confirm {
  background-color: $green;
}

// SimpleMDE fixes
.CodeMirror, .CodeMirror-scroll {
  height: 1px;
}