@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $radius;
  box-shadow: none;
  display: inline-flex;
  font-size: $size-normal;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(0.375em - 1px) calc(0.625em - 1px);
  position: relative;
  vertical-align: top;

  // States
  &:focus,
  &%isFocused,
  &:active,
  &%isActive {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin aside {
  background-color: $white-dark;

  ul {
    margin-top: 1.2em;

    li {
      display: block;
      padding: 0.8em 1em;
      border-bottom: solid 1px $grey-lighter;
      font-size: 1.2em;

      &:first-child {border-top: solid 1px $grey-lighter; }

      .fa,.fas, .far, input { margin-right: 1.2em;}
    }
  }
}

@mixin flat-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}
