// Blocks
html, body,
p, blockquote,
ol, ul, li, dl, dt, dd,
figure, fieldset, legend,
textarea, pre, iframe, hr,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

// List
ul { list-style: none; }

// Form
button, input, select, textarea {
  margin: 0
}

// Box sizing
html { box-sizing: border-box; }

* {
  box-sizing: inherit;
  &:before, &:after { box-sizing: inherit; }
}

// Media
img, embed, object, audio, video {
  max-width: 100%;
}

// IFrame
iframe { border: 0; }

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}