.drive {
    .content {
        &.anna-modal {
            padding: 20px;
        }

        margin: 0;
        table {
            tr {
                td {
                    table {
                        tr {
                            th {
                               color: $grey-dark;
                               line-height: 3em;
                               padding-bottom: 0;

                               &:first-child {
                                 padding-left: 1em;
                                 max-width: 1em;
                               }
                           }
                           td {
                              width: 25%;
                           }
                           background-color: $white-bis;
                           line-height: 3em;
                           font-size: 1.2em;
                           cursor: pointer;
                           border: 1px solid $grey-lighter;

                           &:hover {
                             background-color: $white-dark;
                           }

                           &.no-hover {
                             cursor: inherit;

                             &:hover { background-color: $white-bis; }
                           }

                           &.selected {
                             background-color: $white-dark;
                           }

                           td:first-child {
                             padding-left: 1em;
                             max-width: 1em;
                           }

                           td:last-child {
                             max-width: 1px;
                           }

                           .overflow-wrap-hack {
                             max-width: 1px;
                           }
                        }
                   }
                }

            }
            .inside-folder {
                margin-top: 5vh;
                overflow-y: auto;
                overflow-x: hidden;
                height: 50vh;
            }
            & ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            & ::-webkit-scrollbar {
              width: 4px;
              background-color: #F5F5F5;
            }

            & ::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
              background-color: #555;
            }
        }

        .big-wrapper {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 1vh;
            grid-template-rows: auto auto;
            grid-row-gap: 5px;
            padding: 2vh;

            h2 {
                display: grid;
                grid-column: 1 / 3;
                //grid-template-columns: auto auto;
            }

            .file-information {
                border-right: 1px solid $grey-lighter;
            }

            .permissions {
                min-height: 12vh;
                position: relative;
                display: grid;
                grid-column: 2;
                grid-template-rows: 3;
                grid-row: 2;
                grid-row-gap: 10px;
                text-align: center;

                h4 {
                  grid-row: 1;
                }

                .tableau-permissions {
                    display: grid;
                    grid-template-columns: auto auto;


                    .case {
                        border-bottom: 2px solid $grey-dark;
                        border-right: 2px solid $grey-dark;
                        padding: 5px;
                    }
                    #owner, #group, #all {
                        grid-row: 1;
                    }
                    #read, #write {
                        grid-column: 1;
                    }
                    #read {
                        grid-row: 2;
                    }
                    #write {
                        grid-row: 3;
                    }
                    #owner {
                        grid-column: 2;
                    }
                    #group {
                        grid-column: 3;
                    }
                    #others {
                        grid-column: 4;
                    }
                    .checkbox-container {
                        position: relative;
                        height: 100%;
                      	input[type="checkbox"] {
                      		  display: none;
                        }
                        .checkbox {
                            cursor: pointer;
                            margin: 5px auto auto auto;
                            transform: scale(1.1);
                        }
                    }

                    .checkbox-container .checkbox {
                        display: block;
                      	width: 15px;
                      	height: 15px;
                      	background: #d0d0d0;

            	          &:after {
        		                content: "";
                        		position: absolute;
                            left: 0px;
                        		width: 0px;
                        		height: 3px;
                        		background: #3498db;

                        		transform:translate(4px, 11px) rotate(-45deg);
                        		transform-origin: left;
                        		transition: all 150ms;
                        		transition-delay: 0ms;
          	            }

                    	  &:before {
                        		content: "";
                        		position: absolute;
                            left: 0;
                      		  width: 0px;
                        		height: 3px;
                        		background: #3498db;

                        		transform:translate(1px, 6px) rotate(45deg);
                        		transform-origin: left;
                        		transition: all 150ms;
                        		transition-delay: 150ms;
            	          }
                    }

                    .checkbox-container input[type="checkbox"]:checked {
                  	     & ~ .checkbox {
                  		       &:before {
        			                   width: 7px;
                  			         transition-delay: 0ms;
                  		       }

                    		     &:after {
                      			     width: 13px;
                          			 transition-delay: 150ms;
          		               }
                    	   }
                    }
                }
                .buttons {
                    text-align: right;
                    button {
                        transition: 0.3s;
                        border: 1px solid $grey-lighter;
                    }

                    .submit {
                        background-color: $white-dark;
                    }
                    .submit:hover {
                        background-color: $light;
                    }

                    .cancel {
                        background-color: $warning;
                    }
                    .cancel:hover {
                        background-color: $orange;
                    }
                }
            }
        }
    }
    .actions {
        ul {
            #barre{margin-right: 1.2em;white-space: nowrap;}
            li {
                .search{
                    width: 85%;
                    height: 1.2em;
                    display: inline;
                    margin-right: auto;
                    margin-bottom: 0;
                    margin-top: 0;
                    white-space: nowrap;
                }
            }
        }
    }
}
