$width-logs: 20em;

.dashboard {
  display: grid;
  grid-template-columns: auto $width-logs;
  background-color: $white-ter;

  .missions {
    grid-column: 1;
  }

  .logs {
    grid-column: 2;
    background-color: $white-dark;

    section { margin-top: 1.2em; }

    .bottom {
      border-top: 1px solid $grey-lighter;
      position: absolute;
      bottom: 0;
      width: $width-logs;
      display: grid;
      grid-template-columns: 4em auto;
      grid-column-gap: 1em;
      align-items: center;
      height: auto;
      cursor: pointer;

      p {
        font-weight: $weight-bold;
        font-size: 1.5em;

        a {
          text-align: center;
          display: block;
          font-size: 1.5em;
          background-color: $green;
          color: $white-ter;
          width: 100%;
        }
      }

      &:hover {
        background-color: $grey-lighter;
        a { background-color: darken($green, 5%) }
      }
    }
  }
}