.loader-fade-enter-active, .loader-fade-leave-active {
  transition: opacity 0.5s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.dimmer {
  display: block;
  position: absolute;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.85);
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  transition: all 0.5s linear;
  user-select: none;
  will-change: opacity;
  z-index: 1000;

  .loader {
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;

    & > div {
      background-color: $white-ter;
      height: 100%;
      width: 6px;
      display: inline-block;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 { animation-delay: -1.1s; }
    .rect3 { animation-delay: -1.0s; }
    .rect4 { animation-delay: -0.9s; }
    .rect5 { animation-delay: -0.8s; }
  }

}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}