.app{
  background: url("../../assets/images/connexion.png") no-repeat center fixed;
  background-size: cover;
}

.login{
  display: grid;
  grid-template-columns: $sidebar-width repeat(14, 1/2*$sidebar-width);
  grid-template-rows: repeat(10 , 10vh)
}

.connexion{
  color: $purple;
  text-align: center;
  justify-content: center;
  background: $background;
  display: grid;
  grid-template-rows: 1fr 0.75fr 1fr 1fr 1fr;
  grid-row: 4/8;
  grid-column-start: 5;
  grid-row-gap: 15px;
  width: 6*1/2*$sidebar-width;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

  .inp{
    font-size: 2vh;
    text-align: center;
  }

  .button{
  background-color: inherit;
  height: auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  }

    .button1{
      background-color: blue;
    }

.copyright{
  display: grid;
  grid-column:7/9;
  grid-row: 8;
  color: $white;
  text-align: center;
}

.first-title{
  padding-top: 1.2vh;
  font-size: 2vw;
}
.second-title{
  padding-top: 0.75vh;
  font-size: 1.25vw;
}
