.log{
  display: block;
  cursor: pointer;
  padding: 0.8em 1em;
  border-bottom: solid 1px $grey-lighter;
  position: relative;


  &:first-child {
    border-top: 1px solid $grey-lighter;
  }

  &:hover {
    background-color: $grey-lighter;
  }

  h1 {
    font-size: 1.3em;
  }
}
