.log{
  display: block;
  cursor: pointer;
  padding: 0.8em 1em;
  border-bottom: solid 1px $grey-lighter;

  &:first-child {
    border-top: 1px solid $grey-lighter;
  }

  &:hover {
    background-color: $grey-lighter;
  }

  h1 {
    font-size: 1.3em;
  }
}

.log-modal {
  .content {
    text-align: center;
    padding: 2em;

    h1 {
      font-size: 2em;
    }

    .info {
      font-style: italic;
    }

    .description {
      margin-top: 1em;
    }
  }
}