.anna-modal {
  margin: 1em;
  text-align: center;

  h1 {
    font-size: 2em;
  }

  .info {
    font-style: italic;
  }

  .description {
    margin: 1em auto;
  }

  .markdown-editor {
    text-align: left;
  }
}