$id-width: 10em;
$title-width: auto;
$info-width: 15em;

.post-abstract {
  border: 1px solid $grey-lighter;
  display: grid;
  grid-template-columns: $id-width $title-width $info-width;
  background-color: $white-bis;
  margin: 1em auto;
  align-items: center;
  padding: 0.4em;

  .id {
    font-weight: $weight-normal;
    color: $grey;
    font-size: 1.2em;
  }

  h1 {
    grid-column: 2;
    font-size: 1.4em;
  }

  .info {
    span {
      display: block;
      color: $grey;
    }
  }
}