.drive {
  display: grid;
  grid-template-columns: auto 20em;
  grid-column-gap: 8em;

  .content {
    grid-column: 1;

    table {
      th {
        color: $grey-dark;
        line-height: 3em;

        &:first-child {
          padding-left: 1em;
          max-width: 1em;
        }
      }

      tbody {
        tr {
          background-color: $white-bis;
          line-height: 3em;
          font-size: 1.2em;
          cursor: pointer;
          border: 1px solid $grey-lighter;

          &:hover {
            background-color: $white-dark;
          }

          td:first-child {
            padding-left: 1em;
            max-width: 1em;
          }
        }

        .spacer {
          line-height: 1em;
          cursor: default;
          border: none;
          background-color: $white-ter;
          &:hover { background-color: inherit; }
        }
      }
    }
  }

  .actions {
    grid-column: 2;
    @include aside;
  }
}