.login {
  background: url("../../assets/images/bkg_login.png") no-repeat center fixed;
  background-size: cover;
  height: 100%;

  .grid {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    height: 100%;

    .logo {
      width: 10em;
      position: absolute;
      top: 0;
      left: 0;
    }

    .content {
      grid-row: 1;
      grid-column: 1;

      .card {
        background-color: $white;
        padding: 2em 5em;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: $radius-small;

        h1 {
          text-align: center;
          color: $purple;
          margin: 0;
          padding-bottom: 0.2em;
          line-height: 0.5em;
          letter-spacing: 0.2em;
        }

        h2 {
          color: $purple;
          font-size: 1.2em;
          font-weight: $weight-light;
          text-align: center;
        }

        form {
          .actions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1em;

            a {
              color: $white-ter;
              background-color: darken($blue, 25%);
              font-size: 1em;
              border: 1px solid darken($blue, 25%);
              transition: all 0.3s ease 0s;

              &:hover {
                background-color: $white;
                color: darken($blue, 25%);
              }
            }
          }
        }
      }

      footer {
        text-align: center;
        color: $white;
        margin: 1em auto;
      }
    }
  }
}