.button, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include control;

  background-color: $white;
  border: none;
  color: $grey-darker;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:focus, &:hover {
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;
  }

  &.alert {
    background-color: $red;
    border: 1px solid $red;
    color: $white-dark;

    &:hover {
      background-color: inherit;
      color: $red;
    }
  }

  &.success {
    background-color: $green;
    border: 1px solid $green;
    color: $white-dark;

    &:hover {
      background-color: inherit;
      color: $green;
    }
  }
}