@import 'tabs-component';
@import 'table';
@import 'members';

.admin {
    .section-title {
        margin-bottom: 1em;
    }

    .content {
        margin-right: 1em;
    }

    overflow: hidden;

    // label {
    //     width: 15em;
    // }
    //
    // .form-group {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     align-items: center;
    //     flex-wrap: nowrap;
    //     text-align: left;
    // }

    h2 {
        text-align: center;
    }

    input {
        height: 2em;
    }

    .form-group {
        height: 2.5em;
    }

    .buttons {
        text-align: right;
        button {
            transition: 0.3s;
            border: 1px solid $grey-lighter;
        }

        .submit {
            background-color: $white-dark;
        }
        .submit:hover {
            background-color: $light;
        }

        .cancel {
            background-color: $warning;
        }
        .cancel:hover {
            background-color: $orange;
        }
    }
}

.shrink {
    transform: scale(0.1);
}

.admin .anna-modal form{
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1vw;
}

.admin .anna-modal {
    padding: 0 1vw;
    form::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $white-dark;
    }

    .vdp-datepicker{
      position: relative !important;
      display: grid;
      grid-template-rows: auto;
    }

    .vdp-datepicker__calendar {
        display: grid;
    }

    form::-webkit-scrollbar {
      width: 5px;
      background-color: $white-dark
    }

    form::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: $grey;
    }

    .markdown-editor {
        overflow: auto;
        word-wrap: break-word;

        .CodeMirror-line {
            padding-bottom: 0.1rem;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: $white-dark;
        }

        ::-webkit-scrollbar {
          width: 5px;
          background-color: $white-dark;
        }

        ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: $grey;
        }

    }
}

.eventModal {
    // display: grid;
    // grid-template-columns: 50% 50%;
    //
    // h1 {
    //     grid-column: 1 / 3;
    // }
    form {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 1em;
        input {
            margin: 0 !important;
        }
        #Name {
            grid-column: 1 / 3;
        }
        .md-editor {
            grid-column: 1 / 3;
        }
        .form-group {
            grid-column: 1 / 3;
            display: grid;
            grid-template-columns: 30% 70%;
            label {
                grid-column: 1;
                margin: auto 0 !important;
            }
            .datepicker{
                input:focus{outline:0;}
            }
            .datepicker, #openslots-input {
                width: 300px;
                margin: auto 0 auto auto !important;
            }
        }
        .buttons {
            display: grid;
            grid-column: 2;
            grid-column-gap: 0.5em;

            :first-child {
                grid-column: 1;
            }
            :last-child {
                grid-column: 2;
            }
        }
    }
}

v--modal-box v--modal {
    height: inherit;
}

.anna-modal:not(.manage-members){
    max-height: 90vh;
}
